:root {
    --topic-body-width: calc(100vw - 400px);
}


/* UI */
#whos-online {
    padding-left: 10px;
    padding-right: 10px;
}

.category-list .topics {
    color: white;
}

.select-kit .select-kit-header:not(.btn) {
    padding-left: 1em;
}

nav.post-controls .actions button.reply {

    color: var(--primary);
    background: var(--highlight);

    .d-icon {
        color: var(--primary);
    }

}

nav.post-controls .actions .double-button button.button-count+.toggle-like {
    padding-left: 10px;
}

/* Header */
.d-header .logo-small {
    height: 3em !important;
    padding-right: 2em;
}

/* Forum Thread */
#topic-title h1,
.extra-info-wrapper .header-title {
    margin-bottom: 20px;
}

#topic-title h1,
.extra-info-wrapper .header-title {
    font-size: var(--font-up-1);
}

.topic-post {
    padding: 10px 0 0 0;
}

.topic-body .topic-meta-data {
    padding: 0.25em var(--topic-body-width-padding) 0.25em var(--topic-body-width-padding);
}

.topic-status-info,
.topic-timer-info {
    border-top: none;
}

.topic-body {
    border-top: none;
    padding-top: 0;
    font-size: var(--font-down-1);
    background: #3f4754;

    .contents .cooked {}
}

section.post-menu-area {
    padding-right: var(--topic-body-width-padding);
}

.topic-avatar {
    width: auto;
    padding-top: 0;
    border-top: none;
    padding: 40px 50px 10px 10px;
    height: auto;
    margin-bottom: 0 !important;
    background-color: var(--new-lightgrey);
}

.topic-body .names span.first {
    position: absolute;
    left: -150px;
    z-index: 10;
    max-width: 140px;
    margin-top: 5px;
    text-decoration: none;
}

.topic-body .names span.first a {
    color: var(--primary);
}

.reply {
    .topic-body .names span.first {
        position: static;
        margin-top: 0;
        max-width: none;
    }

    .embedded-posts .topic-avatar {
        padding: 10px;
    }
}

.reply .embedded-posts.bottom,
.embedded-posts.bottom {
    margin: 10px;
    padding: 0;
}

.embedded-posts.bottom .row {
    padding-bottom: 0;
}

.post-menu-area {
    margin: auto;
}

.names span {
    font-size: var(--font-down-1);
    text-decoration: underline;
}

.topic-list .last-post {
    width: 250px;
}

.topic-list .last-post .poster-info {
    font-size: var(--font-down-1);
    margin-top: 5px;
}

.user-signature {
    padding: 0.25em var(--topic-body-width-padding) 0.25em var(--topic-body-width-padding);
}

#user-card .metadata h3 {
    padding-right: 10px;
    font-family: var(--font-heritage) !important;
}

.discourse-reactions-actions:not(.custom-reaction-used):not(.btn-toggle-reaction-like) .discourse-reactions-counter {
    padding: 0 10px;
}

.post-actions .post-action {
    padding: 0 10px;
    font-family: var(--font-heritage) !important;
    font-size: var(--font-down-1);
    color: var(--highlight);
    font-weight: bold;
}

nav.post-controls .actions .double-button button.button-count:not(.my-likes) {
    padding: 0 10px;
    border: none;
}

.small-action.topic-post-visited .topic-post-visited-line {
    width: calc(var(--topic-body-width) + var(--topic-avatar-width) + 75px + var(--topic-body-width-padding)*2);
    margin-top: 10px
}

.post-notice {
    max-width: calc(var(--topic-body-width) + var(--topic-avatar-width) + 75px + var(--topic-body-width-padding)*2);
    background-color: var(--hljs-bg);
}

.gif-modal .gif-content {
    min-width: 570px;
}

.d-editor-input,
.d-editor-preview {
    font-size: var(--font-down-1);
}

.topic-list .link-bottom-line .topic-creator {
    font-size: var(--font-down-1);
    font-weight: normal;
}


.topic-list-item {
    .posters {
        width: 200px;
    }
}

.topic-list-data {
    img.avatar {
        width: 25px;
        height: 25px;
    }
}

.topic-list-item .posters.topic-list-data {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: flex-end;
}

.topic-list-body .posters.topic-list-data a:not(:first-child):not(:last-child){
    display:none;
}

.discourse-reactions-counter {
    .reactions-counter {
        margin-right: 0.5em !important;
    }
}

.discourse-reactions-list .reactions .discourse-reactions-list-emoji .emoji {
    width: unset;
    height: unset;
}

.my-post {
    .discourse-reactions-double-button:hover {
        background-color: transparent !important;
    }
}

.show-summary {
    margin-bottom: 0em !important;
}

.lazy-video-wrapper {
    width: 50%;
}

// Fix for discourse-flair-silenced
.avatar-flair-silenced {
    position: absolute;
    border-radius: 100%;
    text-align: center;
    background: var(--danger);
    color: var(--primary-low);
  
    .topic-avatar & {
        width: 24px;
        height: 24px;
        top: 35px;
        bottom: unset;
        right: 40px;
        font-size: var(--font-up-1);
    }
  
    .user-card-avatar & {
        width: 40px;
        height: 40px;
        top: -15px;
        bottom: unset;
        right: -5px;
        font-size: var(--font-up-4);
    }
  
    .user-main .collapsed-info .user-profile-avatar & {
        display: none;
    }
  
    .user-main .user-profile-avatar & {
        width: 40px;
        height: 40px;
        top: -10px;
        bottom: unset;
        right: 15px;
        font-size: var(--font-up-5);
    }
}
  

@media (min-width: 1024px) {
    .lazyYT-container {
        padding: 0 !important;
        width: 640px !important;
        height: 480px !important;
    }
}
